#app{
  margin: auto;
  width: 1320px;

  .submission{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
    color: #00a82d;

    .title{
      font-size: 30px;
      font-weight: bolder;
    }
    form{
      display: flex;
      flex-direction: column;
    }
  }
}