.note{
  height: 150px;
  width: 200px;
  border: 5px solid #00a82d;
  margin: 5px;

  .main{
    height: 100px;
    overflow: scroll;
  }

  .main::-webkit-scrollbar {
    display: none;
  }
}

#selected{
  height: 150px;
  width: 200px;
  border: 5px solid #ffe44dd8;
  margin: 5px;
}